<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-cart</title>
</head>
<body  class="light">
     <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30">
                <img class="loading-img-spin" src="/admin/images/loading.png" width="20" height="20" alt="admin">
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" onClick="return false;" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="#" onClick="return false;" class="bars"></a>
                <a class="navbar-brand" href="/">
                    <img src="/admin/images/logo.png" alt="" />
                    <span class="logo-name">Admin</span>
                </a>
            </div>


  
        </div>
    </nav>
    <!-- #Top Bar -->
    <div>
        <!-- Left Sidebar -->
  
<aside id="leftsidebar" class="sidebar">
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="sidebar-user-panel active">
                <div class="user-panel">
                    <div class=" image">
                        <img src="/admin/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
                    </div>
                </div>
                <div class="profile-usertitle">
                    <div class="profile-usertitle-job ">Manager </div>
                </div>
            </li>
            <li>
                <a href="#" onClick="return false;" class="menu-toggle">
                    <i class="fas fa-mail-bulk"></i>
                    <span>User Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="/">Add User</a>
                    </li>
                    <li>
                        <a href="/">view User</a>
                    </li>

                   

                </ul>
            </li>


        </ul>
    </div>
    <!-- #Menu -->
</aside>
<!-- #END# Left Sidebar -->
<!-- Right Sidebar -->

      
    </div>
</body>
</html> 